* {
    margin: 0px;
    padding: 0px;
  }
  html,
  body {
    position: relative;
  }
  
  body {
    overflow-y: auto;
    min-height: -100vh;
  }
  textarea:focus,
  input:focus {
    outline: none;
  }
  a {
    color: inherit !important;
    text-decoration: none !important;
  }


  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  margin: 0;
  padding: 0;
  background: #32502E;
  height: 100vh;
  overflow: hidden;
}

  /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  .nav-link {
    margin-right: 36px;
  }
  
  
  
  .experience-content ul li {
    margin-left: 16px;
    padding: 0;
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktops phones: */
    #reservation {
      width: 400px;
      position: fixed;
    }
  }
  